---
import microphone from '/src/assets/custom-icons/microphone.png';
import piano from '/src/assets/custom-icons/piano.png';
import electricGuitar from '/src/assets/custom-icons/electric-guitar.png';
import acousticGuitar from '/src/assets/custom-icons/acoustic-guitar.png';
import bassGuitar from '/src/assets/custom-icons/bass-guitar.png';
import Image from 'astro/components/Image.astro';

const items = [
  {
    icon: microphone,
    title: 'Singing',
  },
  {
    icon: piano,
    title: 'Piano/Keyboard',
  },
  {
    icon: electricGuitar,
    title: 'Electric Guitar',
  },
  {
    icon: acousticGuitar,
    title: 'Acoustic Guitar',
  },
  {
    icon: bassGuitar,
    title: 'Bass Guitar',
  },
];
---

<!-- Instrument List Section -->
<div
  class="instruments mt-8 m-4 mb-10 my-5 intersect-once intersect-quarter motion-safe:md:opacity-0 motion-safe:md:intersect:animate-fade max-w-4xl mx-auto"
>
  <div class="text-center text-lg">
    <slot name="headline" />
  </div>
  <h2 class="text-center text-2xl mb-10">We Teach These Instruments</h2>
  <slot name="subtitle" />
  <div class="grid grid-cols-2 sm:grid-cols-2 md:grid-cols-5 gap-10">
    {
      items.map((item) => (
        <div class="instrument-item flex flex-col justify-center items-center text-center">
          <div class="image-container w-20 h-20 sm:w-20 sm:h-20 md:w-20 md:h-20 flex items-center justify-center bg-white ">
            <Image src={item.icon} alt={item.title} />
          </div>
          <h3 class="mt-4 text-xl">{item.title}</h3>
        </div>
      ))
    }
  </div>
</div>
