---
// Import images at the top of the file
import microphoneIcon from '~/assets/images/custom-icons/microphone.png';
import pianoIcon from '~/assets/images/custom-icons/piano.png';
import electricGuitarIcon from '~/assets/images/custom-icons/electric-guitar.png';
import acousticGuitarIcon from '~/assets/images/custom-icons/acoustic-guitar.png';
import bassGuitarIcon from '~/assets/images/custom-icons/bass-guitar.png';

// Update items array to use imported images
const items = [
  {
    icon: microphoneIcon,
    title: 'Singing',
  },
  {
    icon: pianoIcon,
    title: 'Piano/Keyboard',
  },
  {
    icon: electricGuitarIcon,
    title: 'Electric Guitar',
  },
  {
    icon: acousticGuitarIcon,
    title: 'Acoustic Guitar',
  },
  {
    icon: bassGuitarIcon,
    title: 'Bass Guitar',
  },
];
---

<!-- Instrument List Section -->
<div
  class="instruments mt-8 m-4 mb-10 my-5 intersect-once intersect-quarter motion-safe:md:opacity-0 motion-safe:md:intersect:animate-fade max-w-4xl mx-auto"
>
  <div class="text-center text-lg">
    <slot name="headline" />
  </div>
  <h2 class="text-center text-2xl mb-10">We Teach These Instruments</h2>
  <slot name="subtitle" />
  <div class="grid grid-cols-2 sm:grid-cols-2 md:grid-cols-5 gap-10">
    {
      items.map((item) => (
        <div class="instrument-item flex flex-col justify-center items-center text-center">
          <div class="image-container w-20 h-20 sm:w-20 sm:h-20 md:w-20 md:h-20 flex items-center justify-center bg-white ">
            <img src={item.icon.src} alt={item.title} />
          </div>
          <h3 class="mt-4 text-xl">{item.title}</h3>
        </div>
      ))
    }
  </div>
</div>
