---
const items = [
  { 
    icon: '/src/assets/custom-icons/bass-guitar.png',
    title: 'Bass Guitar',
    description: 'Slap, pop, and pluck the bass guitar',
  },
  { 
    icon: '/src/assets/custom-icons/electric-guitar.png',
    title: 'Electric Guitar',
    description: 'Solo, shred, and play chords',
  },
  { 
    icon: '/src/assets/custom-icons/microphone.png',
    title: 'Singing/Vocal Skills',
    description: 'Become the main vocalist and soar high',
  },
];
---
<!-- Instrument List Section -->
<div class="instruments mt-8 m-4 mb-15 intersect-once intersect-quarter motion-safe:md:opacity-0 motion-safe:md:intersect:animate-fade">
  <div class="text-center">
    <slot name="headline"></slot>
  </div>
  <h2 class="text-center text-lg mb-3">We Teach These Instruments</h2>
  <slot name="subtitle"></slot>
  <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-4">
    {items.map((item) => (
      <div class="instrument-item">
        <img src={item.icon} alt={item.title} class="w-32 h-32 mx-auto" />
        <h3 class="text-center mt-4 text-xl">{item.title}</h3>
        <p class="text-center text-lg">{item.description}</p>
      </div>
    ))}
  </div>
</div>