---
import { Icon } from 'astro-icon/components';
---

<a href="tel:+447000000000" class="flex items-center gap-2 text-white hover:text-sky-300" aria-label="Call us">
  <Icon name="tabler:phone" class="w-6 h-6" />
  <span class="text-sm uppercase">Call Us</span>
</a>
