---
import Layout from '~/layouts/PageLayout.astro';
// import TutorSelect from '~/components/widgets/TutorSelect.jsx';//
import Hero from '~/components/widgets/Hero.astro';
import Divider from '~/components/ui/Divider.astro';
import ContactForm from '~/components/widgets/ContactForm';

const metadata = {
  title: 'Make a Booking',
};
---

<Layout metadata={metadata}>
  <Hero
    title="Find a Tutor!"
    subtitle="Book a tutor today, select an instrument from the menu below"
    image={{ src: '~/assets/images/piano-lesson.jpeg', alt: 'Hero Image' }}
  />
  <Divider />
  <div class="container">
    <ContactForm />
  </div>
</Layout>
