---
import Layout from '~/layouts/PageLayout.astro';
// import TutorSelect from '~/components/widgets/TutorSelect.jsx';//
import Hero from '~/components/widgets/Hero.astro';
import Divider from '~/components/ui/Divider.astro';
import ContactForm from '~/components/widgets/ContactForm';

const metadata = {
  title: 'Make a Booking',
};
---

<Layout metadata={metadata}>
  <Hero
    title="Find a Tutor!"
    subtitle="Book a tutor today, select an instrument from the menu below"
    image={{ src: '~/assets/images/piano-lesson.jpeg', alt: 'Hero Image' }}
  />
  <Divider />
  <div class="container">
    <ContactForm />
  </div>
  <script>
    document.addEventListener('DOMContentLoaded', () => {
      const script = document.createElement('script');
      script.src = "https://www.google.com/recaptcha/enterprise.js?render=6LeJUr4qAAAAAGipGf-IuSzHA0gCF-awE4WjvlHR";
      script.async = true;
      script.defer = true;
      document.head.appendChild(script);
    });
  </script>
</Layout>
