---
import Layout from '~/layouts/PageLayout.astro';
import HeroText from '~/components/widgets/HeroText.astro';
import TutorSelect from '~/components/widgets/TutorSelect.jsx';

const metadata = {
  title: 'Make a Booking',
};
---

<Layout metadata={metadata}>
  <!-- HeroText Widget ******************* -->
  <HeroText tagline="BOOK NOW " title="Find a Tutor!" />

  <!-- Contact Form React Component ******************* -->
  <div>
    <TutorSelect client:load />
  </div>
</Layout>
