---
import Features2 from '~/components/widgets/Features2.astro';
import Features3 from '~/components/widgets/Features3.astro';
import Hero from '~/components/widgets/Hero.astro';
import Steps2 from '~/components/widgets/Steps2.astro';
import Layout from '~/layouts/PageLayout.astro';
import guitarImage from '~/assets/images/guitar-lessons-bristol.jpg';
import CallToAction from '~/components/widgets/CallToAction.astro';
import bristolBridge from '~/assets/images/bristol-bridge-photo.jpeg';
import { IconGift } from '@tabler/icons-react';
import Prices from '~/components/widgets/prices.astro';
import StarTestimonials from '~/components/widgets/StarTestimonials.astro';

const metadata = {
  title: 'Guitar Lessons Bristol',
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero tagline="Guitar Lessons Bristol" image={{ src: guitarImage, alt: 'Guitar Lessons in Bristol Hero Image' }}>
    <Fragment slot="title">
      Learn to Play Guitar <br />
      <span class="text-highlight">with Expert Tutors</span>
    </Fragment>
    <Fragment slot="subtitle">
      Explore tailored **guitar lessons in Bristol** designed to help you master the instrument. Whether you're starting out or refining your skills, our lessons focus on personalized techniques, music theory, and repertoire building to unlock your full potential.<br /><br />
      Join us for engaging lessons that combine creativity and structure, providing the foundation you need to thrive as a guitarist.
    </Fragment>
  </Hero>

  <!-- Features3 Widget ************** -->

  <Features3
    columns={3}
    isAfterContent={true}
    items={[
      {
        title: 'Proper Technique',
        description:
          'Develop essential guitar-playing skills, including hand positioning, using a plectrum/pick, strumming, and fingerpicking techniques.',
        icon: 'tabler:template',
      },
      {
        title: 'Music Theory',
        description:
          'Understand chords, scales, and harmony to deepen your knowledge and enhance your guitar playing.',
        icon: 'tabler:template',
      },
      {
        title: 'Repertoire Development',
        description:
          'Learn to play your favorite songs while exploring contemporary, and popular guitar styles.',
        icon: 'tabler:template',
      },
      {
        title: 'Improvisation',
        description:
          'Express your creativity through improvisation in rock, jazz, or blues, gaining confidence in your musical expression.',
        icon: 'tabler:template',
      },
      {
        title: 'Performance Skills',
        description:
          'Enhance your confidence and stage presence, preparing for live performances or jam sessions.',
        icon: 'tabler:template',
      },
      {
        title: 'Composition & Songwriting',
        description:
          'Combine creativity with theory to compose your own guitar pieces, improvise your own music or write original songs.',
        icon: 'tabler:template',
      },
    ]}
  />

  <!-- Steps2 Widget ****************** -->

  <Steps2
    title="Our Teaching Philosophy"
    subtitle="At the core of our lessons is a belief in personalized, supportive learning. Develop essential guitar-playing skills such as finger strength, rhythm, and musical dynamics, all in an encouraging environment tailored to your pace and goals."

    items={[
      {
        title: 'Student-Centered Lessons',
        description:
          'We tailor every lesson to the unique needs and goals of each student, fostering growth and creativity.',
      },
      {
        title: 'Continuous Growth',
        description:
          'Through consistent practice and learning, we help students achieve their musical potential and enjoy the journey.',
      },
      {
        title: 'Building Confidence',
        description:
          'Our lessons focus on building technical skills and confidence, empowering students to enjoy and share their music.',
      },
    ]}
  />
  
  <StarTestimonials
  id="student-testimonials"
  title="What Our Students Say"
  subtitle="Hear from students and parents who love our guitar lessons"
  isDark={false}
  testimonials={[
    {
      text: 'My son really enjoyed his lessons with Josh. He made the sessions fun and ensured my son understood everything being taught. Highly recommend Josh for guitar lessons in Bristol.',
      name: 'Katie',
      role: 'Parent - Guitar - Bristol',
      rating: 5,
    },
    {
      text: "Adriana has been amazing teaching my 9-year-old daughter guitar. She's professional, friendly, and very knowledgeable. We've seen great progress. Highly recommended!",
      name: 'Oliver',
      role: 'Parent - Guitar - Bristol',
      rating: 5,
    },
  ]}
/>

<Prices
  id="prices"
  tagline="Affordable Guitar Lessons"
  title="Our Prices"
  DefaultIcon={IconGift}
  subtitle="Select the lesson plan that fits your needs<br>Your first session includes 20 minutes, <strong>on us</strong>"
  priceDetails={[
    { label: '30 minutes', price: '£17.50' },
    { label: '60 minutes', price: '£35' },
  ]}
/>
  <!-- Features2 Widget ************** -->
  <Features2
    title="Where to Find Us"
    tagline="Guitar Lessons Near You in Bristol"
    image={{ src: bristolBridge, alt: 'Bristol Bridge' }}
    columns={1}
    items={[]}
  />

  <CallToAction
    actions={[
      {
        variant: 'primary',
        text: 'BOOK NOW',
        href: '/contact',
        target: '_blank',
        icon: 'tabler:download',
      },
    ]}
  >
    <Fragment slot="title">GUITAR LESSONS BRISTOL</Fragment>
    <Fragment slot="subtitle">Get started with expert tuition and unlock your guitar-playing potential today!</Fragment>
  </CallToAction>

</Layout>
