---
import Layout from '~/layouts/PageLayout.astro';
import Hero from '~/components/widgets/Hero.astro';
import Features from '~/components/widgets/Features.astro';
import FAQs from '~/components/widgets/FAQs.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';
import StarTestimonials from '~/components/widgets/StarTestimonials.astro';
import Instruments from '~/components/widgets/Instruments.astro';
import Divider from '~/components/ui/Divider.astro';
import Divider2 from '~/components/ui/Divider2.astro';

const metadata = {
  title: 'Music Lessons in the Bristol Area',
  ignoreTitleTemplate: true,
  description:
    'Are you looking for an expert music tutor in Bristol? Our experienced instructors teach a wide range of musical genres, instruments and vocal styles, ensuring a fun and supportive learning environment for students of all ages and skill levels.',
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
    actions={[
      {
        variant: 'primary',
        text: 'BOOK NOW ',
        href: '/booking',
        target: '_blank',
        icon: 'tabler:download',
      },
    ]}
    image={{ src: '~/assets/images/hero-image.jpg', alt: 'Music Lessons Bristol' }}
  >
    <Fragment slot="title">
      Music Lessons In The <span><br />Bristol Area</span>
      <span class="hidden xl:inline"></span>
    </Fragment>

    <Fragment slot="subtitle">
      <span class="hidden sm:inline">
        Bristol's Music Tuition Platform <br /> Find Your Perfect Music Tutor In Bristol</span
      >
    </Fragment>
  </Hero>

  <Divider />

  <Instruments />

  <!-- Features Widget *************** -->

  <Features
    id="features"
    tagline="What We Offer"
    title="Learn Music Your Way"
    subtitle="At our locally-owned music education company, we believe everyone has the potential to make music. <br><br> Whether you're picking up an instrument for the first time or looking to refine your skills, we offer personalised lessons that cater to your unique goals. <br><br> Our experienced instructors teach a wide range of musical genres, instruments and vocal styles, ensuring a fun and supportive learning environment for students of all ages and skill levels. Join us to explore your musical talents and take the next step in your musical journey."
    items={[
      {
        title: 'Expert Musicians',
        description:
          'Our tutors are experienced, real life musicians who live in the Bristol area, and who are passionate about sharing their knowledge and helping you reach your full potential.',
        icon: 'tabler:school',
      },
      {
        title: 'Payment Protection',
        description: "You won't be charged if your tutor cancels your lesson. Your payments are always protected.",
        icon: 'tabler:credit-card',
      },
      {
        title: 'Book Your Lessons Online',
        description:
          'Our online booking and payment system makes it easy to schedule your lessons at a time that suits you.',
        icon: 'tabler:device-laptop',
      },
      {
        title: 'Hand-Picked Tutors',
        description:
          'Our tutors are our associates, we pick the most skilled and experienced tutors in Bristol to ensure you get the best tuition, all of our tutors have Enhanced DBS status.',
        icon: 'tabler:hand-finger-right',
      },
      {
        title: 'Learn the Music You Love',
        description:
          'Our tutors have their own individual styles, and can tailor lessons to your musical interests, so you can learn the songs and styles you love.',
        icon: 'tabler:heart',
      },
    ]}
  />

  <StarTestimonials
    id="student-testimonials"
    title="What Our Students Say"
    subtitle="Real stories from our students and parents"
    isDark={false}
    testimonials={[
      {
        text: 'My son really enjoyed his lessons with Steve, he made the lessons enjoyable and made sure my son understood everything he was teaching, would highly recommend josh as a music teacher.',
        name: 'Katherine',
        role: 'Parent - Guitar - Bristol',
        rating: 5,
      },
      {
        text: "Sophie has been giving 1-2-1 lessons to our 9 year old daughter for the last couple of months. She is super professional and experienced and we've been really happy with the lessons. We highly recommend her.",
        name: 'Oliver',
        role: 'Parent - Vocals - Bristol',
        rating: 5,
      },
    ]}
  />

  <Divider2 />
  <FAQs
    title="Frequently Asked Questions"
    subtitle="Common questions about our music lessons"
    tagline="FAQs"
    id="faqs"
    isDark={false}
    classes={{ container: 'max-w-6xl' }}
    items={[
      {
        title: 'I’m tone-deaf and have never sang in my entire life. Do you think I can learn music?',
        description:
          "Absolutely! Anyone can learn to play an instrument or sing, no matter their starting point. With structured lessons, encouragement, and consistent practice, you'll surprise yourself with how quickly you progress.",
      },
      {
        title: 'Do you teach children?',
        description:
          'Yes! Our lessons are designed for both children and adults, adapting to the unique needs and learning styles of each age group.',
      },
      {
        title: 'How often should I attend music lessons?',
        description:
          'For the best results, we recommend attending lessons at least once a week. Regular practice between sessions will also help you progress faster.',
      },
      {
        title: 'What types of music can I learn?',
        description:
          'We offer lessons in a variety of genres, including classical, pop, jazz, and rock. Whatever your musical interests, we tailor the lessons to suit your preferences.',
      },
      {
        title: 'How long will it take me to learn to learn to sing?',
        description:
          'Progress varies depending on factors like practice, dedication, and prior experience. Many students start playing simple songs within weeks, but becoming proficient may take months to years.',
      },
      {
        title: 'Am I too old to start learning music?',
        description:
          "Absolutely not! Music is for everyone, and many people start learning as adults. With the right approach, you'll make progress at any age.",
      },
      {
        title: 'What if I don’t know how to read sheet music?',
        description:
          "No problem! We'll teach you the basics of reading sheet music and understanding music theory as part of your lessons.",
      },
      {
        title: 'How long are the lessons?',
        description: 'Lessons typically last 30 minutes to an hour, depending on your age, level, and goals.',
      },
      {
        title: 'Can I take lessons online?',
        description: 'Yes, we offer online lessons via video calls, which are as effective as in-person sessions.',
      },
    ]}
  />

  <CallToAction
    actions={[
      {
        variant: 'primary',
        text: 'BOOK NOW ',
        href: '/booking',
        target: '_blank',
        icon: 'tabler:download',
      },
    ]}
  >
    <Fragment slot="title"> MUSIC LESSONS BRISTOL </Fragment>
    <Fragment slot="subtitle"> Don't wait any longer, get the tuition you deserve from our expert tutors! </Fragment>
  </CallToAction>
</Layout>
