---
import Layout from '~/layouts/PageLayout.astro';
import Hero from '~/components/widgets/Hero.astro';
import Features from '~/components/widgets/Features.astro';
import FAQs from '~/components/widgets/FAQs.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';
import StarTestimonials from '~/components/widgets/StarTestimonials.astro';
import Prices from '~/components/widgets/prices.astro';
import { IconGift } from '@tabler/icons-react';

const metadata = {
  title: 'Singing Lessons in the Bristol Area',
  ignoreTitleTemplate: true,
  description:
    'Are you looking for an expert singing tutor in Bristol? Our experienced instructors teach a wide range of singingal genres, instruments and vocal styles, ensuring a fun and supportive learning environment for students of all ages and skill levels.',
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
    actions={[
      {
        variant: 'primary',
        text: 'Book Now',
        href: '/contact',
        target: '_blank',
        icon: 'tabler:download',
      },
    ]}
    image={{ src: '~/assets/images/hero-image.jpg', alt: 'Music Lessons Hero Image' }}
  >
    <Fragment slot="title">
        SINGING LESSONS IN THE <span class="hidden xl:inline"></span>
      <span> BRISTOL </span> AREA
    </Fragment>

    <Fragment slot="subtitle">
      <span class="hidden sm:inline">
        Find singing tutors in Bristol</span
      >
    </Fragment>
  </Hero>

  <!-- Features Widget *************** -->

  <Features
    id="features"
    tagline="What We Offer"
    title="Learn Music Your Way"
    subtitle="At our bristol based singing school, we believe everyone has the potential to make beautiful singing.' <br><br> Whether you're picking up an instrument for the first time or looking to refine your skills, we offer personalized lessons that cater to your unique goals. <br><br> Our experienced instructors teach a wide range of singingal genres, instruments and vocal styles, ensuring a fun and supportive learning environment for students of all ages and skill levels. Join us to explore your singingal talents and take the next step in your singingal journey.<br>"
    items={[
      {
        title: 'Expert Musicians',
        description:
          'Our tutors are experienced, real life singingians who live in the Bristol area, and who are passionate about sharing their knowledge and helping you reach your full potential.',
        icon: 'tabler:school',
      },
      {
        title: 'Book Your Lessons Online',
        description:
          'Our online booking and payment system makes it easy to schedule your lessons at a time that suits you.',
        icon: 'tabler:device-laptop',
      },
      {
        title: 'Hand-Picked Tutors',
        description:
          'Our tutors are associates, we pick the most skilled and experienced tutors in Bristol to ensure you get the best tuition.',
        icon: 'tabler:hand-finger-right',
      },
      {
        title: 'Learn the singing you love',
        description:
          'Our tutors tailor our lessons to your singingal interests, so you can learn the songs and styles you love.',
        icon: 'tabler:heart',
      },
    ]}
  />

  <StarTestimonials
    id="student-testimonials"
    title="What Our Students Say"
    subtitle="Real stories from our students and parents"
    isDark={false}
    testimonials={[
      {
        text: 'My son really enjoyed his lessons with josh he made the lessons enjoyable and made sure my son understood everything he was teaching, would highly recommend josh as a singing teacher.',
        name: 'Katie',
        role: 'Parent - Guitar - Bristol',
        rating: 5,
      },
      {
        text: "Adriana has been giving 121 lessons to our 9 year old daughter for the last couple of months. Adriana is super professional and experienced and we've been really happy with the lessons. We highly recommend her.",
        name: 'Oliver',
        role: 'Parent - Vocals - Bristol',
        rating: 5,
      },
    ]}
  />

  <Prices
    id="prices"
    tagline="Great Value"
    title="Our Prices"
    DefaultIcon={IconGift}
    subtitle="Choose a plan that suits you best<br>Your first lesson includes 20 minutes, <strong> on us</strong>"
    priceDetails={[
      { label: '30 minutes', price: '£17.50' },
      { label: '60 minutes', price: '£35' },
    ]}
  />
  <svg xmlns="http://www.w3.org/2000/svg" width="100%" height="96px" viewBox="0 0 100 100" preserveAspectRatio="none" class="injected-svg">
    <path d="M0,0 C40,33 66,52 75,52 C83,52 92,33 100,0 L100,100 L0,100 L0,0 Z" fill='rgb(69, 77, 71)'></path>
</svg>


  <FAQs
    title="Frequently Asked Questions"
    tagline="FAQs"
    classes={{ container: 'max-w-6xl' }}
    items={[
      {
        title:
          'I’m tone-deaf and have never sang in my entire life. Do you think I can learn singing?',
        description:
          "Absolutely! Anyone can learn to play an instrument or sing, no matter their starting point. With structured lessons, encouragement, and consistent practice, you'll surprise yourself with how quickly you progress.",
      },
      {
        title: 'Do you teach children?',
        description:
          'Yes! Our lessons are designed for both children and adults, adapting to the unique needs and learning styles of each age group.',
      },
      {
        title: 'How often should I attend singing lessons?',
        description:
          'For the best results, we recommend attending lessons at least once a week. Regular practice between sessions will also help you progress faster.',
      },
      {
        title: 'What types of singing can I learn?',
        description:
          'We offer lessons in a variety of genres, including classical, pop, jazz, and rock. Whatever your singingal interests, we tailor the lessons to suit your preferences.',
      },
      {
        title: 'How long will it take me to learn to learn to sing?',
        description:
          'Progress varies depending on factors like practice, dedication, and prior experience. Many students start playing simple songs within weeks, but becoming proficient may take months to years.',
      },
      {
        title: 'Am I too old to start learning singing?',
        description:
          "Absolutely not! Music is for everyone, and many people start learning as adults. With the right approach, you'll make progress at any age.",
      },
      {
        title: 'What if I don’t know how to read sheet singing?',
        description:
          "No problem! We'll teach you the basics of reading sheet singing and understanding singing theory as part of your lessons.",
      },
      {
        title: 'How long are the lessons?',
        description: 'Lessons typically last 30 minutes to an hour, depending on your age, level, and goals.',
      },
      {
        title: 'Can I take lessons online?',
        description: 'Yes, we offer online lessons via video calls, which are as effective as in-person sessions.',
      },
      {
        title: 'Can I book a trial lesson?',
        description:
          'Of course! We encourage new students, we offer 20 minutes of your first session for free to help you decide if our lessons are right for you.',
      },
    ]}
  />

  <CallToAction
    actions={[
      {
        variant: 'primary',
        text: 'Book Now',
        href: '/contact',
        target: '_blank',
        icon: 'tabler:download',
      },
    ]}
  >
    <Fragment slot="title"> Bristol Music Lessons </Fragment>
    <Fragment slot="subtitle"> Don't wait any longer, get the tuition you deserve from our expert tutors! </Fragment>
  </CallToAction>
</Layout>
