---
import Layout from '~/layouts/PageLayout.astro';
import Hero from '~/components/widgets/Hero.astro';
import Divider from '~/components/ui/Divider.astro';
import WorkForm from '~/components/widgets/WorkForm';

const metadata = {
  title: 'Tutor Sign Up',
  description: 'Join our team of music tutors. Share your passion for music and help others learn.',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <Hero
    title="Become a Tutor!"
    subtitle="Join our community of music educators. Share your expertise and inspire the next generation of musicians."
    image={{ src: '~/assets/images/piano-lesson.jpeg', alt: 'Tutor Sign Up Hero Image' }}
  />
  <Divider />
  <div class="container flex justify-center lg:w-2/3 xl:w-1/2 mx-auto">
    <WorkForm />
  </div>
  <script>
    document.addEventListener('DOMContentLoaded', () => {
      const script = document.createElement('script');
      script.src = 'https://www.google.com/recaptcha/enterprise.js?render=6LeJUr4qAAAAAGipGf-IuSzHA0gCF-awE4WjvlHR';
      script.async = true;
      script.defer = true;
      document.head.appendChild(script);
    });
  </script>
</Layout>
