---
import Layout from '~/layouts/PageLayout.astro';
import Hero from '~/components/widgets/Hero.astro';
import Divider from '~/components/ui/Divider.astro';
import WorkForm from '~/components/widgets/WorkForm';

const metadata = {
  title: 'Tutor Sign Up',
  description: 'Join our team of music tutors. Share your passion for music and help others learn.',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <Hero
    title="Become a Tutor!"
    subtitle="Join our community of music educators. Share your expertise and inspire the next generation of musicians."
    image={{ src: '~/assets/images/piano-lesson.jpeg', alt: 'Tutor Sign Up Hero Image' }}
  />

  <Divider />

  <!-- Increase form container width for larger screens -->
  <div class="container flex justify-center w-full lg:w-2/3 xl:w-2/3 mx-auto">
    <WorkForm client:load />
    <!-- Ensure it hydrates -->
    <script>
      if (document.querySelector('form')) {
        const script = document.createElement('script');
        script.src = 'https://www.google.com/recaptcha/api.js';
        script.async = true;
        script.defer = true;
        document.head.appendChild(script);
      }
    </script>
  </div>
</Layout>
