---
import Layout from '~/layouts/PageLayout.astro';
// import TutorSelect from '~/components/widgets/TutorSelect.jsx';//
import Divider from '~/components/ui/Divider.astro';
import TutorsComponent from '~/components/widgets/Tutors';
const metadata = {
  title: 'Meet the Tutors',
  description:
    'Meet our talented music tutors. Learn more about their backgrounds and book a session with the tutor that best fits your needs.',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <Divider />
  <div class="container flex justify-center lg:w-2/3 xl:w-2/3 mx-auto">
    <TutorsComponent />
  </div>
</Layout>
