---
import Features2 from '~/components/widgets/Features2.astro';
import Features3 from '~/components/widgets/Features3.astro';
import Hero from '~/components/widgets/Hero.astro';
import Layout from '~/layouts/PageLayout.astro';
import guitarImage from '~/assets/images/guitar-lessons-bristol.jpeg';

const metadata = {
  title: 'Work with us',
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero tagline="Work With Us" image={{ src: guitarImage, alt: 'About Our Lessons Hero Image' }}>
    <Fragment slot="title">
      Freelance Music Tutor
      <span class="text-accent text-center dark:text-white highlight"><br> Apply Today</span>
    </Fragment>

    <Fragment slot="subtitle">
      Are you a skilled musician ready to share your passion? Explore music tutor jobs that fit your schedule, whether
      you're teaching piano, guitar, or voice. From flexible hours to rewarding experiences, music tutoring is your
      pathway to inspiring the next generation of talent. <br><br>

      We are looking for dedicated and skilled instrumental and vocal tutors to join our platform. If you are passionate about music and have availability for lessons in the Bristol area, apply today.
    </Fragment>

  </Hero>

  
  <!-- Features3 Widget ************** -->

  <Features3
    title="What We Offer Our Contractors"
    subtitle="Tailored solutions to help music tutors succeed with ease. Our platform simplifies scheduling, payments, and teaching management."
    columns={3}
    isBeforeContent={true}
    items={[
      {
        title: 'Top the Rankings',
        description:
          'Boost your visibility and attract more students with a platform that prioritizes local SEO, ensuring you stand out to prospective students in your area.',
        icon: 'tabler:seo',
      },
      {
        title: 'Freedom to Teach Your Way',
        description:
          'Whether you teach piano, guitar, or vocals, our platform lets you customize your schedule, lesson plans, and teaching style. You have complete control.',
        icon: 'tabler:school',
      },
      {
        title: 'No More Paperwork',
        description:
          'Manage payments, lesson scheduling, and student communications seamlessly with our integrated calendar and payment solutions. Say goodbye to manual tracking and focus more on teaching.',
        icon: 'tabler:device-mobile',
      },
      {
        title: 'Build Your Reputation',
        description:
          'Leverage reviews and testimonials from your students to build a strong online reputation. Our platform helps you showcase your expertise and attract new clients with ease.',
        icon: 'tabler:carambola',
      },
      {
        title: 'Dedicated Support',
        description:
          'Receive continuous support from our team. Whether you need help with technical issues or guidance on optimizing your profile, we’re here to ensure your success.',
        icon: 'tabler:help',
      },
    ]}
  />

  
  <!-- Features2 Widget ************** -->

  <Features2
    title="Technical Support"
    tagline="Contact us"
    columns={2}
    items={[
      {
        title: 'Chat with us',
        description:
          'Integer luctus laoreet libero, auctor varius purus rutrum sit amet. Ut nec molestie nisi, quis eleifend mi.',
        icon: 'tabler:messages',
      },
      {
        title: 'Call us',
        description:
          'Mauris faucibus finibus orci, in posuere elit viverra non. In hac habitasse platea dictumst. Cras lobortis metus a hendrerit congue.',
        icon: 'tabler:headset',
      },
    ]}
  />
</Layout>
