---
import Features3 from '~/components/widgets/Features3.astro';
import Hero from '~/components/widgets/Hero.astro';
import Layout from '~/layouts/PageLayout.astro';
import guitarImage from '~/assets/images/guitar-lessons-bristol.jpeg';
import FAQs from '~/components/widgets/FAQs.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';

const metadata = {
  title: 'Become a Pulse Tutor. Increase Your Status as a Music Tutor in Bristol',
  description:
    'Are you a skilled musician ready to share your passion? Explore music tutor jobs that fit your schedule, whether you’re teaching piano, guitar, or voice. From flexible hours to rewarding experiences, music tutoring is your pathway to inspiring the next generation of talent.',
  ignoretitletemplate: true,
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero tagline="Work With Us" image={{ src: guitarImage, alt: 'About Our Lessons Hero Image' }}>
    <Fragment slot="title">
      Freelance Music Tutor
      <span class="text-accent text-center dark:text-white highlight"><br /> Apply Today</span><br /><br />
      <a href="/signup" class="btn btn-primary">Sign up now</a><br /><br />
    </Fragment>

    <Fragment slot="subtitle">
      Are you a skilled musician ready to share your passion? Explore music tutor jobs that fit your schedule, whether
      you're teaching piano, guitar, or voice. From flexible hours to rewarding experiences, music tutoring is your
      pathway to inspiring the next generation of talent. <br /><br />

      We are looking for dedicated and skilled instrumental and vocal tutors to join our platform. If you are passionate
      about music and have availability for lessons in the Bristol area. Become part of our growing network of
      professional tutors, apply today. <br /><br />

      Our rates are competitive both locally and nationally. We don't have the overhead costs of larger music tuition
      platforms, all the revenue generated goes back into growing the platform for tutors like you.
    </Fragment>
  </Hero>

  <!-- Features3 Widget -->
  <Features3
    title="What We Offer Our Contractors"
    subtitle="Simplify your teaching experience with tools for scheduling, payments, and profile management."
    columns={3}
    isBeforeContent={true}
    items={[
      {
        title: 'Boost Your Profile',
        description:
          'Stand out locally with our SEO-focused platform, tailored to help you attract more students in Bristol.',
        icon: 'tabler:seo',
      },
      {
        title: 'Fair Fees, Shared Growth',
        description: 'Competitive fees with no hidden costs. All revenue supports platform growth for local tutors.',
        icon: 'tabler:currency-pound',
      },
      {
        title: 'Teach Your Way',
        description: 'Customise your schedule, lessons, and style. Piano, guitar, vocals—your expertise, your way.',
        icon: 'tabler:school',
      },
      {
        title: 'Seamless Management',
        description: 'Handle scheduling, payments, and communication with ease using integrated tools.',
        icon: 'tabler:device-mobile',
      },
      {
        title: 'Build Your Reputation',
        description: 'Leverage reviews to showcase your expertise and attract new clients effortlessly.',
        icon: 'tabler:carambola',
      },
      {
        title: 'Ongoing Support',
        description: 'Access expert help, from profile optimisation to resolving technical issues.',
        icon: 'tabler:help',
      },
    ]}
  />

  <!-- FAQs -->
  <FAQs
    title="Frequently Asked Questions"
    tagline="FAQs"
    classes={{ container: 'max-w-6xl' }}
    items={[
      {
        title: 'What instruments can I teach?',
        description: "Any! From vocals, piano and guitar to less common instruments, we're always open to new talents.",
      },
      {
        title: 'Do I need special qualifications?',
        description:
          'Formal qualifications help but aren’t essential. Passion, experience, and teaching ability are what we value most.',
      },
      {
        title: 'What if I don’t live in Bristol?',
        description: 'Our focus is Bristol, but online lessons are available. Contact us if you’re interested.',
      },
      {
        title: 'How does payment work?',
        description:
          'We process payments securely and pay tutors monthly, within 3 working days of receiving invoices.',
      },
      {
        title: 'What if a student cancels?',
        description: 'Our cancellation policy protects both parties. Check platform terms for details.',
      },
      {
        title: 'How much does the platform charge?',
        description: 'Our fees are 20-25%, lower than many competitors, supporting local tutor growth.',
      },
      {
        title: 'Can I teach online?',
        description: 'Yes, you can set your availability for remote lessons.',
      },
      {
        title: 'What support is offered?',
        description: 'Technical help, profile advice, and more—we’re here to assist.',
      },
      {
        title: 'How do I build my reputation?',
        description: 'Encourage reviews from students to boost your visibility and credibility.',
      },
      {
        title: 'Can I teach full-time?',
        description:
          'Most tutors use the platform to fill available slots. High-performing tutors can maximise their hours.',
      },
      {
        title: 'How is this platform different?',
        description:
          'We prioritise local music tutors, offering competitive rates, tailored tools, and a supportive community.',
      },
    ]}
  />

  <!-- CallToAction Widget ******************* -->

  <CallToAction
    actions={[
      {
        variant: 'primary',
        text: 'Sign Up ',
        href: '/signup',
        target: '_blank',
        icon: 'tabler:download',
      },
    ]}
  >
    <Fragment slot="title"> Join Us Today </Fragment>
    <Fragment slot="subtitle"> Make a profile, get verified, find new students </Fragment>
  </CallToAction>
</Layout>
