---
import Image from 'astro/components/Image.astro';
import logo from '../assets/images/white-logo.png';
---

<span
  class="justify-start ml-2 rtl:ml-0 rtl:mr-2 md:text-xxl font-logo font-bold text-black whitespace-wrap dark:text-white"
>
  <Image src={logo} alt="Logo" class="h-6 md:h-6 w-auto object-contain px-3" width={100} height={100} quality={100} />
</span>
