---

---

<span
  class="justify-start ml-2 rtl:ml-0 rtl:mr-2 text-l md:text-l font-bold text-black whitespace-wrap dark:text-white"
>
  <img src="src/assets/images/logo.png" alt="Logo" class="inline-block h-8 mr-2" />
</span>
